
[class*="col-"] {
    padding: 10px;
    border: solid 1px black;
}


footer {
    background-color: black;
    color: white;
    
}

footer ul {
    list-style-type: none;
}

footer a {
    color: white;
}